extends includes/layout.pug
include includes/mixins/picture.pug
include includes/mixins/music.pug

block content
  include ./includes/mixins/menubottom.pug
  include ./includes/mixins/comment.pug
  - 
    function findPage(page, type) {
      if (!page) {
        return false
      }
      if (!page.record) {
        return page;
      }
      return findPage(page[type], type)
    }
  - var isPrev = findPage(page.prev, 'prev')
  - var isNext = findPage(page.next, 'next')
  article#post
    .post-page-top-img
      if page.photos.length
        img(src=url_for(page.path + page.photos[0]))
      else
        img(src=url_for(theme.default_image))
    - var tagsv = ''
        each val, index in page.tags.data
            - if(index === page.tags.data.length-1 )
                - tagsv += val.name
            - else
                - tagsv += val.name + "/" 
    #title-data
      .post-page-tags= tagsv
      .post-page-title= page.title
      .dividded-sm
    .post-page-date
      .article-date(datetime=page.date.toJSON())= date(page.date, date_format)
    .post-page-content
      if page.hasMusic
        +music(page.music)
      != page.content
      #post-view 
      #pagination
        .pagination
          if(isPrev)
            .prev-post-page.pull-left(title=isPrev.title)
              a(href=url_for(isPrev.path)) PREV
                i.material-icons.pull-left arrow_back
          else
            .prev-post-page.pull-left  PREV
              i.material-icons.pull-left arrow_back
          if(isNext)
            .next-post-page.pull-right(title=isNext.title)
              a(href=url_for(isNext.path)) NEXT 
                i.material-icons.pull-right arrow_forward
          else
            .next-post-page.pull-right NEXT
              i.material-icons.pull-right arrow_forward
    .post-comment-contain
      .comment-logo
        img(src='/img/comments.png')
      .comment-block#comment-block
      include ./includes/postcomment.pug
  .menu-bottom
    +menubottom('menu-bottom-icon', false)
